
.con{
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    min-height: 3rem;
    align-content: flex-start;
    overflow-y: auto;
}

.add_btn{
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin: 0.3rem;
}

.label_con{
    display: flex;
    align-items: center;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin: 0.3rem;
    user-select: none;
}

.label_remove_icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    padding: 0.22rem;
    margin-bottom: 0.7rem;
}

.empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    opacity: 0.4;
    user-select: none;
}