.con{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}

.play_btn{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    position: absolute;
}

.video{
    width: 100%;
    height: 100%;
}