.list_con{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.itm_con{
    width: calc(50% - 1.5rem);
    margin-top: 2rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.itm_con:nth-child(odd){
    margin-left: 3rem;
}

.itm_right_sec{
    width: calc(100% - 7rem);
    max-width: calc(100% - 7rem);
    padding-right: 1rem;
}

.itm_title{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

.itm_row{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    justify-content: space-between;
}

.itm_success{
    font-weight: 700;
}

.itm_date{
    font-weight: 500;
    direction: ltr;
}

.itm_order_no{
    font-weight: 500;
}

.itm_price{
    font-weight: 700;
}

.itm_left_sec{
    width: 7rem;
    min-width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itm_show_btn{
    width: 5rem !important;
    margin: 0 !important;
}

.remove_icon{
    margin-right: 1rem;
    width: 2rem;
    margin-left: 1.25rem;
}

.pagination_con{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width:1024px){
    
    .itm_con{
        width: 90%;
        margin-right: 5%;
    }
    
    .itm_con:nth-child(odd){
        margin-left: 0;
    }
}

@media(max-width:767px){
    .itm_con{
        width: 96%;
        margin-right: 2%;
    }

    .itm_icon{
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0.6rem;
    }
    
    .itm_title{
        width: calc(100% - 10.9rem);
        margin-right: 0.6rem;
    }
    
    .itm_show_btn{
        margin-right: 0.6rem !important;
        width: 4rem !important;
    }
    
    .remove_icon{
        margin-right: 0.6rem;
        width: 2rem;
        margin-left: 0.6rem;
    }
}