.header_con{
    height: 5.6rem;
    width: 100%;
    direction: rtl;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    z-index: 100;
}

.space1{
    width: 1.5rem;
}


@media(max-width:1024px){
    
    .header_con{
        height: 4.2rem;
    }
}

@media(max-width:767px){
    
    .header_con{
        height: 3rem;
    }
}