.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    direction: rtl;
    overflow: hidden;
}

.header_bar{
    position: fixed !important;
    top: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0.2rem 0.5rem 0.05rem rgb(0, 0, 0, 0.15);
}

.wrapper{
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.upper_sec{
    width: calc(100vw - 4rem);
    height: 12rem;
    background-color: #1A0D57;
    border-radius: 0 0 1rem 1rem;
}

.mock_footer{
    width: calc(100vw - 4rem);
    background-color: white;
    height: 10rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: #1b0d5752;
    margin-top: 4rem;
}

@media(max-width:1024px){

    .wrapper{
        margin: unset;
        width: 100%;
    }
}

@media(max-width:767px){

    .upper_sec{
        width: 100vw;
    }

    .mock_footer{
        width: 100vw;
    }
}