.con{
    width: calc(100% - 2rem);
    padding: 2rem calc(2rem + 5vw);
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.contact_numbers{
    display: flex;
    direction: rtl;
    width: 100%;
    max-width: 96rem;
}

.number{
    margin: 0 0.7rem;
    letter-spacing: 0.1rem;
}

.social_links_con{
    width: 100%;
    max-width: 96rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.social_link{
    margin: 0 0.4rem;
}

.footer_minfo{
    width: 100%;
    text-align: center;
    direction: rtl;
    margin-top: 2rem;
    max-width: 96rem;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){

    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
    }

    .contact_numbers{
        flex-direction: column;
        align-items: center;
    }

    .contact_numbers>div{
        margin-top: 0.2rem;
    }

    .contact_numbers>div:first-child{
        margin-top: 1rem;
    }

    .numbers_sep{
        display: none;
    }
}