.con{
    display: flex;
    width: 100%;
    direction: rtl;
    justify-content: center;
}

.sec_con{
    width: 29.25rem;
    /* height: 18.75rem; */
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 2.2rem;
    padding: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.sec_title{
    position: absolute;
    top: -1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: rgb(110, 110, 110);
    font-size: 0.94rem;
    width: 10rem;
    height: 3rem;
    font-weight: 700;
    background-color: white;
    box-shadow: 0 0.5rem 0.6rem 0.1rem rgb(0, 0, 0, 0.1);
}

.info_sec1{
    width: 74%;
    font-size: 0.82rem;
    text-align: center;
    margin-top: 0.5rem;
}

.txinput1{
    width: 80%;
    margin: 0 !important;
    padding-right: 1rem !important;
    margin-top: 0.5rem !important;
}

.info_sec2{
    width: 80%;
    text-align: center;
    margin-top: 1.5rem;
}

.bar1{
    width: 100%;
    margin-top: 3rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    margin-top: 2rem;
    padding-right: 1.8rem;
    height: calc(100% - 5rem);
    padding-bottom: 2rem;
}

.cat_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 9rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 0.8rem;
    height: 2.6rem;
    font-size: 0.92rem;
    color: #3A3A3A;
    border: solid 0.15rem #3A3A3A;
}

.sel_cat_con{
    display: flex;
    height: 2rem;
    align-items: center;
    font-size: 0.92rem;
    color: #FBAD16;   
}

.div1{
    color: #FBAD16;
    margin-top: 1rem;
    font-size: 1.5rem;
    user-select: none;
}

.wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 4rem;
}

.category_con{
    margin-top: 0.5rem !important;
    width: 80% !important;
}

.next_btn{
    width: 15.625rem;
    height: 2.5rem;
    margin: 0;
}


@media(max-width:1024px){

    .sec_con{
        width: 29.25rem;
        /* height: 18.75rem; */
    }
}

@media(max-width:767px){

    .sec_con{
        width: 20.5rem;
        /* height: 18.75rem; */
    }
}