.con{
    width: 80%;
    min-height: 6rem;
    border-radius: 1rem;
    margin-top: 4rem;
    padding: 1.5rem;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    position: absolute;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    top: -1.5rem;
    right: calc(50% - 6rem);
    transition: ease 400ms;
}

.input{
    margin-top: 1rem;
    width: 16rem;
}

.confirm_btn{
    display: none;
    width: 12rem;
    margin-top: 2rem;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .input{
        width: 14rem;
    }
}