.ccard_con{
    margin-top: 1rem;
    width: calc(86% - 14rem);
    padding: 1rem;
    font-weight: 700;
    padding-right: 4rem;
    padding-left: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #F9F9F9;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.iclne{
    display: flex;
}

.iclne_img{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}

.iclne_txt{
    font-size: 1.1rem;
    font-size: 700;
}

.crow_con{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.3rem;
}

.crow_icon_line{
    margin-top: 0.3rem;
    font-weight: 500;
}

.crow_dl{
    font-size: 0.8rem !important;
    height: 1.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 400;
}

.crow_play{
    font-size: 0.8rem !important;
    height: 1.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* margin-left: 0.5rem; */
    font-weight: 400;
}

.crow_locked{
    font-size: 0.8rem !important;
    height: 1.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    opacity: 0.7;
    font-weight: 400;
    user-select: none;
}

.crow_free_t{
    margin-right: 0.2rem;
    font-size: 0.76rem;
    opacity: 0.4;
}


@media(max-width:1024px){

    .ccard_con{
        width: calc(100% - 2rem);
        padding-right: 5vw;
    }
}

@media(max-width:767px){

    .ccard_con{
        width: 96%;
    }
}