.con{
    width: 100%;
    margin-bottom: 4rem;
}

.rc_con{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: calc(86% - 14rem);
    padding: 0.2rem;
    font-weight: 700;
    padding-right: 4rem;
    padding-left: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #F9F9F9;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.rc_img{
    width: 6rem;
    height: 4.5rem;
    border-radius: 0.5rem;
}

.rc_sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    margin-right: 1rem;
    width: calc(100% - (6rem + 8rem));
}

.rc_title{
    font-weight: 700;
}

.rc_sec2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 8rem;
    border-right-width: 1px;
    border-right-style: dashed;
}

@media(max-width:1024px){

    .rc_con{
        width: calc(100% - 2rem);
        padding-right: 5vw;
        padding-left: 5vw;
    }
}

@media(max-width:767px){

    .rc_con{
        width: 96%;
    }

    .rc_img{
        width: 4rem;
        height: 3rem;
        border-radius: 0.3rem;
    }

    .rc_sec1{
        width: calc(100% - (4rem + 7rem));
    }

    .rc_sec2{
        width: 7rem;
    }
}