.con{
    margin-top: 3rem;
}

.edit_text{
    width: 92%;
    max-width: 16rem;
    margin: 1rem;
    margin-right: 2rem;
}

.info_sec{
    padding: 2rem 3rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .edit_text{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .edit_text_input{
        text-align: center !important;
    }
}