.con{
    margin-top: 3rem;
}

.add_sub_btn{
    margin-top: 2rem;
    margin-right: 2rem;
}

.content_card_preview{
    border-width: 2px;
    border-style: dashed;
    opacity: 0.3;
    height: 3rem;
    max-width: 48rem;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 0.8rem;
}

.input_con{
    display: flex;
    align-items: center;
    height: 3rem;
    width: 92%;
    max-width: 48rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.drag_handler{
    height: 1.4rem;
    width: 1.4rem;
    margin-bottom: 0.3rem;
    margin-left: 0.6rem;
    margin-right: 0.4rem;
    font-size: 1.6rem;
    cursor: grab;
}

.input{
    margin: 0 !important;
    height: 3rem;
    width: calc(100% - 5rem);
    border-radius: 0.8rem;
}

.input_show{
    margin: 0 !important;
    height: 3rem;
    width: calc(100%);
    border-radius: 0.8rem;
}

.delete_btn{
    height: 1.6rem;
    width: 1.6rem;
    padding: 0.1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .input_con{
        width: 92vw;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}