
.con{
    margin-top: 3rem;
}

.image{
    width: 92vw;
    max-width: 36rem;
    height: calc(92vw * 0.56);
    max-height: calc(36rem * 0.56);
    margin-right: 2rem;
    margin-top: 1rem;
}

@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}