.con{
    margin-top: 3rem;
}

.add_sub_btn{
    margin-top: 2rem;
    margin-right: 2rem;
}

.nestable{
    margin-right: 2rem;
    width: 92%;
    max-width: 48rem;
}

.nestable_card{
    width: 100%;
    margin: 2rem 0 !important;
    display: flex;
    align-items: center;
}

.nestable_inputs{
    margin: 0 !important;
    width: calc(100% - 3rem) !important;
}

.nestable_handler{
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.nestable_row_delete{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    position: absolute;
    left: -2.2rem;
}