.con{
    padding: 2rem 0.5rem;
    padding-top: 1rem;
    width: 92vw;
    max-width: 46rem;
    height: 86vh;
    /* transform: translateY(-4vh); */
    border-radius: 1rem;
}

.wrapper{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 100%;
    max-height: 100%;
    padding: 0 2rem;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.title{
    margin-top: 3rem;
    font-weight: 700;
    width: 100%;
    direction: rtl;
    text-align: right;
    display: flex;
    align-items: center;
}

.info_tt{
    margin-right: 0.5rem !important;
    width: 1rem !important;
    height: 1rem !important;
}

.title_input{
    margin: 0 !important;
    margin-top: 1rem !important;
    width: 26rem;
}

.select_row{
    display: flex;
    margin-top: 1rem;
    user-select: none;
    cursor: pointer;
}

.select{
    margin-left: 0.5rem;
}

.info1{
    margin-top: 0.7rem;
    opacity: 0.7;
    width: 100%;
    direction: rtl;
    text-align: right;
    font-weight: 700;
    transform-origin: right;
    /* transform: scale(0.9); */
}

.upload_btn{
    margin-top: 1rem;
    min-height: 3rem;
}

.upload_progress{
    margin-top: 1rem !important;
    direction: ltr !important;
}

.sec1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.creat_btn{
    width: 12rem;
}

.file_name{
    margin: 0 10%;
    margin-top: 1rem;
    direction: rtl;
    text-align: center;
    padding: 0.5rem 2rem;
    border-width: 2px;
    border-radius: 0.4rem;
    border-style: solid;
    font-family: IransansEng;
}

.remove_file{
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}