.con{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.title{
    min-width: 16rem;
    direction: rtl;
    text-align: center;
    font-weight: 700;
    margin-top: 0.8rem;
}

.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    direction: rtl;
}

.submit_btn{
    width: 10rem;
    margin-left: 1rem;
}

.cancel_btn{
    width: 10rem;
    margin-right: 1rem;
}

.back_btn{
    width: 12rem;
}