.con{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    direction: rtl;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.title{
    font-weight: 700;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.type_btn{
    height: 4rem;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    margin: 0.5rem 0;
}

.type_btn > span{
    font-family: IranSansEng;
    margin: 0 0.5rem;
}

@media(max-width:1024px){
    
}

@media(max-width:767px){

    .con{
        width: 86vw;
    }

    .type_btn{
        width: 16rem;
    }
}