.con{
    width: 100%;
    height: 100vh;
    min-height: 42rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_card{
    height: 36rem;
    width: 26rem;
    border-radius: 1rem;
    background-color: white;
}

.con1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    direction: rtl;
}

.title1{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.sub1{
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
    max-width: 90%;
}

.back_link{
    font-size: 0.8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.comp1{
    width: 86% !important;
    max-width: 20rem !important;
    margin-top: 8rem;
}

.comp2{
    width: 86% !important;
    max-width: 12rem !important;
    margin-top: 8rem;
}

.comp3{
    width: 86% !important;
    max-width: 20rem !important;
    margin-top: 0rem !important;
}

.submit1{
    width: 16rem;
    margin-top: 8rem;
}

.submit2{
    width: 16rem;
    margin-top: 6rem;
}

.submit3{
    width: 16rem;
    margin-top: 3rem;
}

.submit4{
    width: 16rem;
    margin-top: 14rem;
}

.img1{
    height: 6rem;
    margin-top: 4rem;
}

.title2{
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 2rem;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .wrapper_card{
        height: 30rem;
        width: 20rem;
        margin-bottom: 2rem;
    }

    .title1{
        font-size: 1.1rem;
    }
    
    .sub1{
        margin-top: 1.5rem;
    }
    
    .back_link{
        top: 1.5rem;
        right: 1.5rem;
    }
    
    .comp1{
        margin-top: 7rem;
    }
    
    .comp2{
        margin-top: 6rem;
    }
    
    
    .submit1{
        margin-top: 4.2rem;
    }
    
    .submit2{
        margin-top: 1rem;
    }
    
    .submit3{
        margin-top: 0rem;
    }
    
    .submit4{
        margin-top: 10rem;
    }
    
    .img1{
        height: 5rem;
    }
    
    .title2{
        font-size: 1rem;
    }
}