.line{
    width: 100%;
    min-height: 1px;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
    background-color: #F5DF4D;
}

.background_image{
    height: 15rem;
    width: 45rem;
}

.complete_info_ta{
    height: 20rem;
}

.preview_btn{
    position: fixed;
    left: 0.8rem;
    top: 4.4rem;
    z-index: 5;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){
 
    .preview_btn{
        height: 2.4rem !important;
        top: 3.8rem;
        left: 0.4rem;
        width: 7rem;
        white-space: nowrap;
    }   
}