.con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

.loading{
    min-height: calc(80vh - 6rem);
}

.sec1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dash_card:last-child{
    margin-left: 0 !important;
}

.sec2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
}


@media(max-width:1024px){

    .sec1{
        flex-wrap: wrap;
        max-width: 38rem;
        padding: 0;
    }

    .dash_card{
        width: calc(50% - 2rem);
    }

    .sec2{
        flex-direction: column;
        align-items: center;
    }
    
}

@media(max-width:767px){
    
    .wrappert1{
        width: 100%;
    }

    .dash_card{
        width: calc(100% - 2rem);
    }
}