
.sec1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    direction: ltr;
    /* height: 22.5rem; */
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.sec2{
    display: flex;
    direction: rtl;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.sec3{
    margin-top: 1rem;
    width: fit-content;
    width: calc(86% - 14rem);
    padding: 1.5rem;
    padding-right: 4rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.crs_points{
    padding-right: 0 !important;
    margin-top: 0.5rem !important;
}

.crs_points_icn{
    margin-left: 0.8rem;
}

.space1{
    height: 3rem;
}

.req_sec{
    margin-top: 1rem;
    width: calc(86% - 14rem);
    padding: 1rem;
    padding-right: 4rem;
    padding-left: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.square_icon{
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
}

@media(max-width:1024px){

    .sec1{
        align-items: center;
        height: auto;
        padding-right: 0;
    }

    .sec3{
        width: calc(100% - 2rem);
        padding-right: 5vw;
    }

    .req_sec{
        width: calc(100% - 2rem);
        padding-right: 5vw;
    }
}

@media(max-width:767px){

    .sec3{
        width: 96%;
    }

    .req_sec{
        width: 96%;
    }
}