
.con{
    width: 64rem;
    height: 80vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    padding: 0.8rem 1.4rem;
    direction: rtl;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.title{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 1rem;
}

.table_con{
    width: 100%;
    height: calc(80vh - 1.4rem);
    overflow-x: auto;
    overflow-y: hidden;
}

.table_wrapper{
    width: 100%;
    height: calc(80vh - 1.4rem);
    min-width: 36rem;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    height: 7rem;
}

.confirm_btn{
    width: 16rem;
}

@media(max-width:1024px){

    .con{
        width: 46rem;
    }
}

@media(max-width:767px){

    .con{
        width: calc(100vw - 2.4rem);
        height: 80vh;
        padding: 0.8rem 0rem;
    }

    .title{
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }

    .confirm_btn{
        width: 12rem;
        height: 2.6rem;
    }
}
