.con{
    display: flex;
    width: 100%;
    align-items: center;
}

.title_con{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title{
    height: 4rem;
    font-weight: 700;
    padding: 1rem 4rem 1rem 3rem;
    border-radius: 1rem 0 0 1rem;
    margin-left: 1rem;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.edit{
    height: 3rem !important;
    width: 3rem !important;
    padding: 0 !important;
    margin-top: 0 !important;
}

.submit_icon{
    width: 1.8rem !important;
    height: 1.8rem !important;
}

.cancel_icon{
    width: 0.9rem !important;
    height: 0.9rem !important;
}

.loading{
    height: 3rem !important;
    width: 3rem !important;
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0.7rem !important;
    margin-right: 0.8rem !important;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){
    
    .con{
        justify-content: center;
        flex-direction: column;
    }

    .title_con{
        margin: 0;
        width: 92%;
    }

    .title{
        margin: 0;
        padding: 0;
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        border-radius: 1rem;
    }
}