
.con{
    width: 36rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    padding: 0.8rem 1.4rem;
    direction: rtl;
}

.loading{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.wrapper{
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 1rem;
}


.form_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    direction: ltr;
    overflow-y: auto;
    padding-top: 1rem;
    min-height: calc(50vh - 8rem);
    max-height: calc(80vh - 8rem);
    padding-left: 5%;
}

.addLevel1{
    margin-bottom: 1rem;
    margin-bottom: 2rem;
    min-height: 2.4rem;
}

.confirm_btn{
    width: 16rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.parent_node{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    height: 1.8rem;
    min-width:  18rem;
    border-bottom: solid 1px rgb(221, 221, 221);
}

.parent_node_operation{
    display: flex;
    align-items: center;
    direction: rtl;
}

.parent_node_add{
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.node_input{
    border-width: 1px;
    border-style: solid;
    width: 8rem;
}

.crud_btn{
    position: absolute;
    left: 0rem;
    top: 0.7rem;
}

@media(max-width:1024px){

    .con{
        width: 46rem;
    }
}

@media(max-width:767px){

    .con{
        width: calc(100vw - 3rem);
        max-height: 80vh;
        padding: 0.8rem 0rem;
    }

    .title{
        margin-top: 0.8rem;
        margin-bottom: 1rem;
        font-size: 0.86rem;
    }

    .confirm_btn{
        width: 12rem;
        height: 2.6rem;
    }

    .form_body{
        padding-top: 2.5rem;
    }

    .crud_btn{
        position: absolute;
        left: 1rem;
        top: 2.8rem;
        height: 2.2rem;
    }
}
