.con{
    display: flex;
    flex-direction: column;
    width: 100%;
    direction: rtl;
    min-height: calc(100vh - 6.875rem);
    padding: 2rem 4rem;
}

.anchor{
    position: absolute;
    top: -10rem;   
}

.wrapper{
    padding: 0 calc(4rem + 10vw);
    width: 100%;
    display: flex;
    align-items: center;
}

.top_img{
    display: none;
}

.right_side{
    width: 80%;
}

.left_img{
    width: 20%;
    padding: 0 1rem;
}

.sec{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.sec_icon{
    width: 4.5rem;
}

.sec_title{
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    width: calc(100% - 5.5rem);
    padding-top: 0.8rem;
}

.sec_text{
    font-size: 1rem;
    margin-top: 1.2rem;
    max-width: 42rem;
}


@media(max-width:1024px){

    .wrapper{
        flex-direction: column;
        padding: 0 2rem;
    }

    .anchor{
        top: -6rem;
    }

    .top_img{
        display: block;
        width: 100%;
        max-width: 26rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .right_side{
        width: 100%;
    }

    .left_img{
        display: none;
    }

    .sec{
        width: 100%;
    }
    
}

@media(max-width:767px){
    
    .con{
        min-height: calc(100vh - 3rem);
        padding: 2rem 0rem;
    }

    .anchor{
        top: -4rem;
    }

    .sec_icon{
        width: 3.5rem;
    }

    .sec_title{
        font-size: 1.5rem;
        width: calc(100% - 4.5rem);
    }
    
    .sec_text{
        font-size: 0.86rem;
        margin-top: 1rem;
        text-align: justify;
    }
}