
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    direction: rtl;
    min-height: calc(100vh - 6.875rem);
    padding: 2rem 4rem;
}

.hero_img{
    height: 74%;
    width: 40%;
    max-width: 42rem;
    padding-right: calc(10vw - 2rem);
}

.hero_left_side{
    width: 40%;
    height: 60%;
    padding-top: 1rem;
}

.tx1{
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.3rem !important;
}

.tx2{
    font-weight: 900;
    font-size: 3rem !important;
    max-width: 35rem;
    margin-top: 0.5rem;
}

.tx3{
    opacity: 0.7;
    white-space: nowrap;
    font-size: 0.9rem !important;
    margin-top: 1rem;
}

.btn_con{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    direction: rtl;
}

.free_btn{
    width: 10rem;
}

.more_btn{
    width: 10rem;
    direction: ltr;
}

@media(max-width:1270px){
    
    .hero_left_side{
        width: 50%;
    }
}

@media(max-width:1024px){

    .con{
        flex-direction: column;
        padding: 1rem 10vw;
        padding-top: 9rem;
        align-items: center;
    }

    .hero_img{
        width: 100%;
        max-height: 40vh;
        min-height: 26rem;
        padding-right: unset;
    }

    .hero_left_side{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: unset;
        margin-top: 2rem;
        align-items: center;
    }

    .tx1{
        text-align: center;
    }
    
    .tx2{
        text-align: center;
    }
    
    .tx3{
        text-align: center;
    }
    
    .btn_con{
        justify-content: center;
    }
}

@media(max-width:767px){

    .con{
        flex-direction: column;
        padding: 1rem 10vw;
        padding-top: 4.5rem;
        align-items: center;
    }

    .hero_img{
        max-height: 11.5rem;
        min-height: unset;
    }

    .tx1{
        font-size: 1rem !important;
    }
    
    .tx2{
        text-align: center;
        font-size: 1.6rem !important;
    }
    
    .tx3{
        text-align: center;
        font-size: 0.8rem !important;
        white-space: pre-wrap;
    }
    
    .btn_con{
        flex-direction: column;
    }

    .free_btn, .more_btn{
        width: 100% !important;
    }
      
}