
.con{
    width: 38rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    padding: 0.8rem 1.4rem;
    direction: rtl;
}

.close_btn{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
}

.wrapper{
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    margin-right: 1rem;
}

.title_input{
    width: 100% !important;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.text_input{
    width: 100% !important;
    margin-top: 1rem !important;
}

.links_sec{
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.link_con1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.add_link_btn{
    width: 14rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.link_help{
    width: 1rem;
}

.link_pop_overlay{
    border-radius: 0.6rem;
    overflow: hidden;
    padding: 0 !important;
}

.link_pop_con{
    width: 24rem;
    max-width: 92vw;
}

.type_select_sec{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.rads_con{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.rads_title{
    margin-right: 0.3rem;
}

.confirm_btn{
    width: 16rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media(max-width:1024px){

    .con{
        width: 46rem;
    }
}

@media(max-width:767px){

    .con{
        width: 96vw;
        height: 80vh;
        padding: 0.8rem 0rem;
    }

    .title{
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }

    .confirm_btn{
        width: 12rem;
        height: 2.6rem;
    }
}
