.con{
    width: 92vw;
    max-width: 32rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    padding: 2rem 1.4rem;
    direction: rtl;
}

.title{
    max-width: 80%;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}

.sec1{
    margin-top: 4rem;
    min-width: 70%;
    max-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_btn,
.left_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem !important;
    border-radius: 1rem;
}


@media(max-width:1024px){
    
}

@media(max-width:767px){
    .sec1{
        width: 100%;
        max-width: 16rem;
    }
}